
<div id="login-overlay"></div>

<div id="login" class="page">
    
    <div class="ddash-logo">
        <img src="assets/ddash-logo.svg">
    </div>
    
    <div id="login-form">
        
        <div class="row">
            <div class="notification">
                <div ng-show="vm.showWarn" class="warn">{{vm.warn}}</div>
            </div>
        </div>
        
        <div class="row">
            <div class="input-field col s12">
              <input ng-model="vm.username" id="username" type="text">
              <label for="username">Username</label>
            </div>
            <div class="input-field col s12">
              <input ng-model="vm.password" id="password" type="password">
              <label for="password">Password</label>
            </div>
        </div>
            
        
        <button ng-click="vm.tryLogin()" class="btn waves-effect waves-light" name="action">
            Login
        </button>
        
    </div>



</div>
