// HELPER BG COLORS
.dark-bg {
    background-color: $base-dark;
    overflow: auto;
}
.med-bg {
    background-color: $base-med;
    overflow: auto;
}
.light-bg {
    background-color: $base-light;
    overflow: auto;
}