html {
    @extend .regular-1-font;
}

body {
    background-color: $bg-color;
    @extend .med-txt;
    @extend .dark-2-txt;
    @extend .regular-1-font;
    font-weight: normal;
}

header, footer, main, section {
    height: auto;
    position: relative;
}




main {
    overflow: auto;
    position: relative;
    margin-top: 56px;
    width: 100%;
    z-index: 2;
}

@media #{$small-and-down} {
    
    main {
        margin-top: 0px;
    }
    
 }





a {
    color: $accent;
}


section {
    padding-top: 60px;
    padding-bottom: 60px;
    
    &.small-section {
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 50px;
    }
}



.container {
    max-width: 1000px;
}



@media #{$medium-and-up} {
    section {
        padding-top: 60px;
        padding-bottom: 60px;
    }
}

@media #{$large-and-up} {
    section {
        padding-top: 70px;
        padding-bottom: 70px;
    }
}



h1, h2, h3, h4, h5 {
    @extend .dark-1-txt;
    @extend .light-1-font;
    font-weight: normal;
    }
h1 {
    @extend .xlarge-txt;
    margin-bottom: 60px;
    margin-top: 50px;
}
h2 {
    @extend .large-txt;
    margin-bottom: 10px;
}



hr {
    position: relative;
    width: 100px;
    height: 20px;
    border: 0px;
    background-image: url(../assets/horizontal-rule.svg);
    background-repeat: no-repeat;
    clear: both;
    
    &.center-align {
        margin-left: auto;
        margin-right: auto;
    }
    
    &.left-align {
        margin-left: 0px;
        margin-right: auto;
    }
    &.right-align {
        margin-right: 0px;
        margin-left: auto;
    }
}