@font-face {
    font-family: BrandonText-Light;
    src: url(../font/BrandonText-Light.otf);
}
@font-face {
    font-family: BrandonText-Regular;
    src: url(../font/BrandonText-Regular.otf);
}
@font-face {
    font-family: BrandonText-Medium;
    src: url(../font/BrandonText-Medium.otf);
}


.light-1-font {
    font-family: BrandonText-Light, sans-serif;
}
.regular-1-font {
    font-family: BrandonText-Regular, sans-serif;
}
.bold-1-font {
    font-family: BrandonText-Medium, sans-serif;
}

// HELPER TEXT COLOR
// DEFAULTS FOR SMALL SCREENS
.dark-1-txt {
    color: $dark-1-txt;
}
.dark-2-txt {
    color: $dark-2-txt;
}

.light-1-txt {
    color: $light-1-txt;
}
.light-2-txt {
    color: $light-2-txt;
}

// HELPER TEXT SIZES
.xxlarge-txt {
    font-size: $xxlarge-txt + $text-unit;
    line-height: $xxlarge-txt-lh + $text-unit;
}

.xlarge-txt {
    font-size: $xlarge-txt + $text-unit;
    line-height: $xlarge-txt-lh + $text-unit;
}

.large-txt {
    font-size: $large-txt + $text-unit;
    line-height: $large-txt-lh + $text-unit;
}

.med-txt {
    font-size: $med-txt + $text-unit;
    line-height: $med-txt-lh + $text-unit;
}

.small-txt {
    font-size: $small-txt + $text-unit;
    line-height: $small-txt-lh + $text-unit;
}

.xsmall-txt {
    font-size: $xsmall-txt + $text-unit;
    line-height: $xsmall-txt-lh + $text-unit;
}


@media #{$medium-and-up} {
    .xxlarge-txt {
        font-size: $xxlarge-txt + 14 + $text-unit;
        line-height: $xxlarge-txt-lh + 10 + $text-unit;
    }

    .xlarge-txt {
        font-size: $xlarge-txt + 8 + $text-unit;
        line-height: $xlarge-txt-lh + 12 + $text-unit;
    }

    .large-txt {
        font-size: $large-txt + 4 + $text-unit;
        line-height: $large-txt-lh + 4 + $text-unit;
    }

    .med-txt {
        font-size: $med-txt + 2 + $text-unit;
        line-height: $med-txt-lh + 2 + $text-unit;
    }

    .small-txt {
        font-size: $small-txt + 2 + $text-unit;
        line-height: $small-txt-lh + 2 + $text-unit;
    }

    .xsmall-txt {
        font-size: $xsmall-txt + 2 + $text-unit;
        line-height: $xsmall-txt-lh + 2 + $text-unit;
    }
}

@media #{$large-and-up} {
    .xxlarge-txt {
        font-size: $xxlarge-txt + 18 + $text-unit;
        line-height: $xxlarge-txt-lh + 11 + $text-unit;
    }

    .xlarge-txt {
        font-size: $xlarge-txt + 17 + $text-unit;
        line-height: $xlarge-txt-lh + 13 + $text-unit;
    }

    .large-txt {
        font-size: $large-txt + 5 + $text-unit;
        line-height: $large-txt-lh + 6 + $text-unit;
    }

    .med-txt {
        font-size: $med-txt + 3 + $text-unit;
        line-height: $med-txt-lh + 3 + $text-unit;
    }

    .small-txt {
        font-size: $small-txt + 3 + $text-unit;
        line-height: $small-txt-lh + 3 + $text-unit;
    }

    .xsmall-txt {
        font-size: $xsmall-txt + 3 + $text-unit;
        line-height: $xsmall-txt-lh + 3 + $text-unit;
    }
}

///////