// COLORS
$primary: #000;
//primary toned
//
//secondary
//secondary toned
//
$accent: #F67161;
$accent-toned: #37BEAC;
//
$dark-1-txt: #383735;
$dark-2-txt: #737A7E;
//
$light-1-txt: #FFF;
$light-2-txt: #A3A3A3;

$bg-color: #FFF;

$base-light: #FFF;
$base-med: #E8E6E6;
$base-dark: #1B1B1B;
//base-color-dark

/////////////

//dark-links
//light-links
//
//Action
//Yes
//No
//
$header-bg: rgba(38,38,38,0.9);
//footer-bg



// UNIT FOR TEXT (p, em, etc)
$text-unit: px;

// TEXT & LINE HEIGHT SIZES
$xxlarge-txt: 52;
$xxlarge-txt-lh: 56;

$xlarge-txt: 32;
$xlarge-txt-lh: 44;

$large-txt: 20;
$large-txt-lh: 38;

$med-txt: 16;
$med-txt-lh: 28;

$small-txt: 13;
$small-txt-lh: 16;

$xsmall-txt: 10;
$xsmall-txt-lh: 12;




@media #{$small-and-down} {
}
@media #{$medium-and-up} {
// styles for medium screens and larger
}
@media #{$medium-and-down} {
// styles for medium screens and down
}
@media #{$large-and-up} {
// styles for large screens and up
}