body {
    background-color: #171717;
    @extend .light-1-txt;
}
#content-container {
    background-color: $base-dark;;
    max-width: 1000px;
    width: 100%;
}

@media #{$medium-and-up} {
    #content-container {
        padding-left: 200px;
        float: left;
    }
}

.card {
    margin-bottom: 30px;
    padding: 10px 15px 15px 15px;
    background-color: #333;
    border-radius: 10px;
    position: relative;
    //border: 1px solid $accent-toned;
    
    i {
        color: #FFF;
        font-size: 22px;
        padding: 5px;
    }
    i.delete {
        color: $accent;
    }
    i.edit {
        color: $accent-toned;
    }
    
    .details {
        @extend .xsmall-txt;
    }

    .controls {
        position: absolute;
        top: 10px;
        right: 10px;
    }
    
    h1, h2 {
        @extend .med-txt;
        margin-top: 5px;
        margin-bottom: 10px;
    }
    
}


.collection{
    margin-top: 10px;
    border-color: #666;
    .collection-item {
        background-color: transparent;
        border-color: #666;
    }
};

#sidenav {
    width: 200px;
    position: fixed;
    height: 100%;
    background-color: rgba(33,33,33,1);
    
    .logo {
        
        img {
            width: 100%;
            padding: 42px 50px 40px 50px;
            opacity: 0.2;
        }
    }
    
    .nav-links {
    
        a {
            @extend .light-1-font;
            @extend .light-2-txt;
            display: block;
            height: 45px;
            padding-left: 20px;
            line-height: 40px;
            transition: all 0.3s;
            box-sizing: border-box;
            border-left: 0px solid transparent;
            
            &:hover {
                color: $accent-toned;
                border-left: 4px solid transparent;
            }
            
            &.active {
                color: $accent;
                border-left: 4px solid $accent;
            }
            
        }
        
    }
      
}



nav {
    background-color: #212121;
    position: fixed;
    bottom: 0px;
    height: 51px;
    z-index: 1000;
    text-align: center;
    border-top: 1px solid #333;
    padding: 0px;
    
    a {
        
        margin: 0px;
        padding: 5px 0px 0px 0px;
        transition: all 0.5s;
        text-align: center;
        width: 20%;
        height: 50px;
        display: block;
        float: left;
        border-bottom: 1px solid transparent;
        line-height: 25px;
        font-size: 12px;
        
        i.material-icons {
            display: block;
            margin: 0px;
            font-size: 20px;
        }
        
        &:hover {
            color: $accent-toned;
        }
        &.active {
            color: $accent;
            border-bottom: 1px solid $accent;
        }
        
        span.label {
            margin: 0px;
            color: white;
        }
    }
}


.view {
    margin-top: 10px;
    margin-bottom: 50px;
    overflow: hidden;
    opacity: 1;
    transition: opacity 0.3s;
}


[ui-view].ng-enter, [ui-view].ng-leave {
    opacity: 0;
}


@media #{$medium-and-up}{
    main.container {
        margin-top: 10px;
        margin-bottom: 50px;
        overflow: hidden;
        width: 85%;
    }
}

em {
    font-style: normal;
    color: $accent;
}

h2 {
    @extend .light-1-txt;
}

div.divider {
    background-color: transparent;
    border: none;
}


.accent {
    color: $accent;
}

.page {
    transition: opacity 0.8s;
    width: 100%;
}

.info {
    margin-bottom: 40px;
    .info-line {
        
    @extend .small-txt;
    display: block;
    margin: 7px;
    }
    
    .label {
        font-style: normal;
        color: $accent;

    }
    
    .btn {
        margin-top: 20px;
        margin-bottom: 20px;
        height: 30px;
        line-height: 30px;
    }
}

.warn {
    border: 2px solid $accent;
    border-radius: 10px;
    padding: 10px;
    @extend .light-1-txt;
    @extend .small-txt;
}

.graph {
    margin-bottom: 30px;
    margin-top: 20px;
    height: 140px;
    display: block;
}

path.base {
    fill: #333;
}
path.completed {
    fill: $accent-toned;
}


text.label-text {
    fill: #FFF;
    font-size: 10px;
}
text.label-percent {
    fill: $accent-toned;
    font-size: 30px;
}


.header {
    
    padding-top: 0px;
    margin-bottom: 30px;
    
    h2 {
        @extend .light-1-txt;
        margin-bottom: -5px;
    }
    span {
        
    }
}


#grid {
    
    margin-top: 10px;
    padding: 40px;
    
    .cell {
        
        padding: 0px;
        
        .fill {
            margin: 0px auto;
            border-radius: 10px;
            
            i.status-good {
                color: #87ea7b;
            }
            
            .label {
                display: block;
                @extend .light-1-txt;
                @extend .small-txt;
            }
        }
    }
}

#payment {
    margin-bottom: 30px;
}

#documents {

    margin-bottom: 30px;
    .btn {
        margin-bottom: 15px;
    }
}

#timeline {
    #phases {
        .phase {
            
            height: auto;
            margin-bottom: 20px;
            
            .phase-labels {
                height: 40px;   
                @extend .large-txt;
                @extend .light-1-font;
            }
            .phase-name {
                
                float: left;
                
                @extend .large-txt;
                @extend .light-1-font;

            }
            .phase-completion {
                
                float: right;
                
                &.done {
                    color: $accent-toned;
                }
                &.in-progress {
                    color: #ebbc52;
                }
                &.incomplete {
                    color: $accent;
                }
            }
            
            .task {
                padding: 0px 0px 0px 0px;
                margin-left: 0px;
                clear: both;
                
                .task-labels {
                    
                    height: 40px;
                    line-height: 40px;
                    padding-left: 20px;
                    
                    &.done {
                        border-left: 3px solid $accent-toned;
                    }
                    &.in-progress {
                        border-left: 3px solid #ebbc52;;
                    }
                    &.incomplete {
                        border-left: 3px solid $accent;;
                    }
                
                }
                
                .task-name {
                    height: 40px;
                    float: left;
                    margin-left: 0px;
                    
                    
                }
                .task-status {
                    height: 40px;
                    float: right;
                    
                    &.done {
                    color: $accent-toned;
                    }
                    &.in-progress {
                        color: #ebbc52;
                    }
                    &.incomplete {
                        color: $accent;
                    }
                }
            }
            
        }
    }
}




#footer {
    @extend .small-txt;
    @extend .center-align;
    @extend .light-1-txt;
    opacity: 0.2;
    margin-bottom: 80px;
    margin-top: 10px;
    
    img.cf-logo {
        display: block;
        margin: 0px auto;
        margin-top: 20px;
        margin-bottom: 10px;
    }
}



#commits {
    
    //border-top: 1px solid $accent;

    .latest-commit {
        margin-bottom: 60px;
        margin-top: 40px;
    }
    
    .commit {
        
        margin-bottom: 30px;
        padding: 10px;
        background-color: #333;
        border-radius: 10px;

        .row {
            margin-bottom: 0px;
        }
        
        .commit-avatar {
            
            position: absolute;
            width: 50px;
            
            img {
                
                width: 100%;
            }
        }
        
        .commit-message {
            @extend .small-txt;
        }
        
        .commit-labels {
            
            margin-left: 65px;
            
            .commit-meta {
                margin-top: 10px;
                @extend .small-txt;
            }
            
        }
        
    }
    
}

#view-repo {
    margin-top: 40px;
}



.contact-us {
    a {
        color: $accent-toned;
    }
}


#payment {
    .payment {
        height: 40px;
        .payment-ammount {
            float: left;
        }
        .payment-date {
            float: right;
        }
    }
}






#documentation {
    .file {
        text-align: center;
        margin-top: 30px;
    }
}




#gallery {
    
    margin-top: 60px;
    
    .row {
    }
    .col {
        padding-bottom: 20px;
    }
    a.image {
        display: block;
        width: 100%;
        height: 150px;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }
    span.image-label {
        @extend .small-txt;   
    }
}




#login-overlay {
    pointer-events: none;
    width: 100%;
    height: 100%;
    background-color: #000;
    position: fixed;
    top: 0px;
    left: 0px;
    opacity: 0.001;
    z-index: 1;
}

#login {
    
    text-align: center;
    position: relative;
    z-index: 200;
    
    #login-form {
        margin: 0px auto;
        max-width: 400px;
    }
    
    button {
        
        margin-top: 40px;
    }
    
    .notification {
        margin-bottom: 50px;
    }

    
}


#admin-users {
    
    .add-new-user {
        margin: 20px 0px;
    }
    
    .user {
        
        @extend .card;
        
        &.admin {
            border: 1px solid $accent;
        }
        
    }
    
}







//EDIT MODAL DIRECTIVE

.dd-modal {
   
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 10;
    opacity: 1;
    color: $dark-1-txt;
    
    .modal-overlay {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0px;
        background-color: #000;
        opacity: 0.7;
    }
    
    .modal-container {
        max-width: 600px;
        width: 90%;
        margin: 0px auto 70px auto;
        background-color: #FFF;
        position: relative;
        top: 10%;
        overflow: scroll;
        z-index: 12;
        
    }
    
    .modal-title {
        
        @extend .large-txt;
        padding: 20px;
        @extend .light-1-txt;
        overflow: auto;
        background-color: $accent;
        
    }
    
    .modal-body{
        padding: 20px 20px;
    }
    
    .modal-confirm {
        text-align: center;
        background-color: #CCC;
        padding: 20px;
    }
    
    .modal-status-message{
        text-align: center;
        margin-top: 20px;
    }
    
    .col {
        margin-top: 30px;
    }
    
    .edit {
        
    }
    
}